body {
    color: white;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: black;
    height: 550px;
    padding: 20px;
}

header a {
    background-color: red;
    color: white;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}
header a:hover {
    background-color: aliceblue;
    color: black;
}

header .logo a {
    background-image: url("./Images/logo.png");
    background-size: 104px;
    background-repeat: no-repeat ;
    display: inline-block;
    height: 37px;
    position: relative;
    top: -9px;
    text-indent: -9999px;
    width: 84px;
}

header .navBar {
    background-color: beige;
    width: 100%;
    height: 80px;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

header .hero {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;

}

header .heroHeading {
    margin: 10px;
    text-align: center;
}

header .subHeading {
    margin: 10px;
    width: 500px;
    text-align: center;
}

header figure {
    display: grid;
    margin: 0;
    padding: 0;
}

header .heroImage img {
    height: 363px;
    width: auto;
    justify-self: center;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 600px) {
    header {
        height: 394px;
    }
    .button {
        display: none;
    }
    header .subHeading {
        width: 378px;
        text-align: center;
    }

    header .heroImage img {
        width: 400px;
        height: auto;
    }
}

/* TESTIMONIAL SECTION */

.container {
    display: grid;
    justify-items: center;
}

.testimonial {
    background-color: rgb(222, 135, 135);
    display: grid;
    grid-template-columns: 600px 600px 600px ;
    grid-template-rows: 400px 400px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
.picture1 {
    /* grid-column: 1/2;
    grid-row: 1/2; */
    width: 99%;
    height: 99%;
}

.picture2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 99%;
    height: 99%;

}

.paragraph1 {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: large;
    width: 85%;
}

.paragraph2{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: large;
    width: 85%;
}

.picture3 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 99%;
    height: 99%;
}

.picture4 {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 99%;
    height: 99%;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 600px) {
    .testimonial {
        background-color: rgb(222, 135, 135);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .picture1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .picture2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .paragraph1 {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 99%;
    }

    .paragraph2 {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 99%;
    }

    .picture3 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .picture4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }


}


ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
}



footer {
    background-color: black;
    padding: 20px;
}

