body {
    color: white;
    margin: 0;
    padding: 0;
    width: auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
}

img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

img:hover {
    opacity: 0.7;
}

/* HEADER */
header {
    background-color: #fff8f9;
    height: auto;
    padding: 20px;
}

header a {
    background-color: #f8f3e6;
    color: #2b3e0b;
    display: inline-block;
    margin: 20px 10px;
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    background-color: #f8f3e6;
    color: black;
}

header .logo a {
    background-image: url("./Images/logo.png");
    background-size: 104px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 36px;
    position: relative;
    top: -9px;
    text-indent: -9999px;
    width: 84px;
}

header .navBar {
    background-color: #b7c4a1;
    width: 99%;
    height: 80px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-weight: bold;
    border: 1px solid black;
}

.hamburger {
    position: relative;
    display: block;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f8f3e6;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-10px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #fff8f9;
    margin-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #b7c4a1;
    color: #2b3e0b;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #2b3e0b;
    color: white;
}

section.is-active,
footer.is-active,
.hero.is-active,
.heroImage.is-active {
    display: none;
}


/* RESPONSIVE RULES */

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

}

/* RESPONSIVE RULES */
@media screen and (max-width: 768px) {
    header {
        height: 80px;
    }

    .button {
        display: none;
    }

    header .subHeading {
        width: 378px;
        text-align: center;
    }

    header .heroImage img {
        width: 400px;
        height: auto;
    }

    header .navBar {
        justify-content: space-between;
    }

}



/* FORM SECTION */
section {
    background-color: #fff8f9;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1200px;
    justify-content: flex-start;
}

.input-box {
    justify-self: center;
    font-family: 'Poppins';
}

.inputfield {
    display: flex;
    flex-direction: column;
}

.item {
    width: 400px;
    padding: 10px 10px 10px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Poppins';
}

.send {
    justify-self: center;
}

form button {
    padding: 12px 32px;
    color: #2b3e0b;
    background: transparent;
    border: black;
    outline: black;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Poppins';
}

.left-h1 {
    display: flex;
    justify-content: flex-end;
    margin: 60px;
    font-family: 'Playfair Display SC';
    color: #2b3e0b;
}

.right-h1 {
    margin: 60px;
    font-family: 'Playfair Display SC';
    color: #2b3e0b;
}


/* RESPONSIVE RULES */
@media screen and (max-width: 600px) {
    section {
        min-height: 700px;
    }


    .left-h1 {
        margin: 20px;
    }

    .right-h1 {
        margin: 20px;
    }

    .item {
        width: 200px;
    }
}

/* FOOTER */

footer {
    background-color: #b7c4a1;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

footer .info {
    display: flex;
    flex-direction: column;
}

footer .link {
    display: flex;
    flex-direction: column;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}