body {
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    height: 616px;
    padding: 20px;
}

header a {
    background-color: red;
    color: white;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}
header a:hover {
    background-color: aliceblue;
    color: black;
}

header .logo a {
    background-image: url("./Images/logo.png");
    background-size: 104px;
    background-repeat: no-repeat ;
    display: inline-block;
    height: 37px;
    position: relative;
    top: -6px;
    text-indent: -9999px;
    width: 84px;
}

header .navBar {
    display: inline-flex;
}

header .hero {
    display: grid;
    margin: 0;
    padding: 0;
}

header .heroHeading {
    text-align: center;
    justify-self: center;
}

header .subHeading {
    width: 500px;
    text-align: center;
    justify-self: center;
}

header figure {
    display: grid;
    margin: 0;
    padding: 0;
}

header .heroImage img {
    height: 363px;
    width: auto;
    justify-self: center;
}

section {
    background-color: burlywood;
    padding: 20px;
    display: flex;


}
section div {
    background-color: blue;
    width: 100px;
    margin: auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
}



footer {
    background-color: black;
    padding: 20px;
}