body {
    color: white;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
}


/* HEADER */
header {
    background-color: #fff8f9;
    height: auto;
    padding: 20px;
}

header a {
    background-color: #f8f3e6;
    color: #2b3e0b;
    display: inline-block;
    margin: 20px 10px;
    padding: 10px;
    text-decoration: none;
}
header a:hover {
    background-color: #f8f3e6;
    color: black;
}

header .logo a {
    background-image: url("./Images/logo.png");
    background-size: 104px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 36px;
    position: relative;
    top: -9px;
    text-indent: -9999px;
    width: 84px;
}

header .navBar {
    background-color: #b7c4a1;
    width: 99%;
    height: 80px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-weight: bold;
    border: 1px solid black;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 600px) {
    header {
        height: 70px;
    }
    .button {
        display: none;
    }
    header .subHeading {
        width: 378px;
        text-align: center;
    }

    header .heroImage img {
        width: 400px;
        height: auto;
    }

    header .navBar {
        justify-content: flex-start;
    }
}



/* FORM SECTION */
section {
    background-color: #fff8f9;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    justify-content: flex-start;
}

.input-box {
    justify-self: center;
    font-family: 'Poppins';
}

.inputfield {
    display: flex;
    flex-direction: column;
}

.item {
    width: 400px;
    padding: 10px 10px 10px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Poppins';
}

.send {
    justify-self: center;
}

form button {
    padding: 12px 32px;
    color: #2b3e0b;
    background: transparent;
    border: black;
    outline: black;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Poppins';
}
.left-h1 {
    display: flex;
    justify-content: flex-end;
    margin: 60px;
    font-family: 'Playfair Display SC' ;
    color: #2b3e0b;
}

.right-h1 {
    margin: 60px;
    font-family: 'Playfair Display SC' ;
    color: #2b3e0b;
}


/* RESPONSIVE RULES */
@media screen and (max-width: 600px) {
    section {
        min-height: 700px;
    }
    .left-h1 {
        margin: 20px 0px;
    }

    .right-h1 {
        margin: 20px 0px;
    }

    .item {
        width: 300px;
    }
}
/* MEANINGS FOOTER */

footer {
    background-color: #b7c4a1;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: black;

}

footer .info {
    display: flex;
    flex-direction: column;
}

footer .link {
    display: flex;
    flex-direction: column;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}